[submodule "3rd/libuv"]
	path = 3rd/libuv
	url = https://github.com/rurban/libuv.git
[submodule "3rd/libtommath"]
	path = 3rd/libtommath
	url = https://github.com/libtom/libtommath.git
[submodule "3rd/pcre"]
	path = 3rd/pcre
	url = https://github.com/PCRE2Project/pcre2.git
	branch = master
