[submodule "3rd/libuv"]
	path = 3rd/libuv
	url = git://github.com/joyent/libuv.git
[submodule "3rd/libtommath"]
	path = 3rd/libtommath
	url = git://github.com/libtom/libtommath.git
[submodule "3rd/pcre"]
	path = 3rd/pcre
	url = git://github.com/Distrotech/pcre.git
	branch = master
[submodule "test/roast5"]
	path = test/roast5
	url = https://github.com/rakudo-p5/roast5.git
[submodule "test/roast6"]
	path = test/roast6
	url = https://github.com/perl6/roast.git
